public/
resources/
.idea/
.hugo_build.lock

# macOS
.DS_Store
**/.DS_Store

# Local Netlify folder
.netlify

# Vercel
.vercel
.env*.local
.env

# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Claude Code
.claude/
